#grid	{
	display: inline-block;
	width: 375px;
	height: 750px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;	
	list-style: none;
}

.attempt {
	display:inline;
}

.attempt span{
	display: inline-block;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	border-radius: 10px;
}

#colors span{
	display: inline-block;
	border: 1px solid black;
	height: 50px;
	width: 50px;
	border-radius: 10px;
}

.result {
	border: 1px solid black;
	display : inline-block;
	height: 34px;
	width: 34px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.result span {
	border: 1px solid black;
	display : inline-block;
	height: 15px;
	width: 15px;
	margin: 0;
	float: left;
	border-radius: 6px;
}


#button	button {
	display: inline-block;
	list-style: none;
}
